body {
  box-sizing: border-box;

  line-height: 1.2rem;
  font-family: Roboto, Arial, sans-serif;
  background-color: #f9f9f9;
  color: #030303;
}

* {
  box-sizing: inherit;
}

a { text-decoration: none; }



/* NAV BAR STYLES */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 0 1rem;

  background-color: #fff;
}

/* Logo styles */
.logo-container {
  display: flex;
  align-content: center;
}

.logo-img {
  width: 5.625rem;
  margin-left: 1rem;
}

.nav-icon {
  padding: 8px;
}


/* Search form styles */

.search-form {
  display: flex;

  margin: 1rem;
}

.search-input {
  width: 35.75rem;
  height: 2.5rem;
  padding: .5rem;

  border: 1px solid #ccc;
}

.search-button, .mic-button {
  height: 2.5rem;

  background-color: transparent;

  cursor: pointer;
}

.search-button {
  border: 1px solid #ccc;
}

.mic-button {
  border: none;
}

.container {
  width: fit-content;
}

/* Main nav links styles */
.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #000;
}

.main-avatar {
  width: 2rem;
  height: 2rem;

  border-radius: 50%;
}



/* VIDEO STYLES */
.grid-two-col {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2,max-content);

  width: 68.75rem;
  margin: 4.5rem auto;
}

/* youtube video styles */
.video-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  width: 40rem;
}

.video {
  width: 40rem;
  height: 22.5rem;
}

.video-title {
  margin: .5rem 0;

  font-size: 1.125rem;
  color: #030303;
}

.video-info-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: .5rem 0;

  font-size: .875rem;
  color: #606060;
}

.video-actions {
  display: flex;
  align-items: center;
}

.video-action {
  display: flex;
  align-items: center;
  height: 2.25rem;
  padding: .4rem;

  color: #030303;
}

.video-description {
  font-size: .875rem;
}

.video-owner {
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.video-owner-img {
  margin-right: 1rem;

  border-radius: 50%;
}

.video-owner-name {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

/* subcribe button */
.subscribe {
  height: 2.25rem;
  padding: .625rem 1rem;

  font-weight: bold;
  background-color: #c00;
  color: white;
}

.video-description-text {
  margin-left: 4rem;
  margin-top: .5rem;
}



/* related videos */
.related-videos {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  margin-left: 2rem;
}

.related-video {
  width: 25rem;
  display: flex;
  margin-bottom: 1rem;
}

.thumbnail {
  width: 10.5rem;
  height: 5.875rem;
  margin-right: 1rem;
}

.related-video .wrapper {
  width: 12.5rem;
  font-size: .875rem;
}

.related-video-title {
  margin-bottom: .2rem;

  font-size: .875rem;
  font-weight: 600;
}

.related-video span {
  font-size: .75rem;
  color: #606060;
}

.related-video p {
  display: flex;
  flex-direction: column;
  margin-top: .2rem;
}


/* comments */
.comments {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 40rem;
}

.comment-form {
  display: flex;
  margin: .5rem 0 1rem;
}

.comment-input {
  height: 1.5625rem;
  flex-grow: 1;

  font-size: .875rem;
  border: none;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

.comment {
  display: flex;
  margin: .5rem 0;

  font-size: .875rem;
}

.comment-user-img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;

  border-radius: 50%;
}

.comment-actions {
  margin-top: 1rem;
  font-size: .75rem;
}

.comment-actions a {
  padding-left: .5rem;
}

.comment-actions .material-icons-outlined {
  font-size: 16px;
}

.comment-user {
  margin-bottom: .4rem;
  font-size: .8125rem;
  font-weight: 600;
}

.comment-user span {
  font-size: .875rem;
  font-weight: 400;
  color: #606060;
}



/* RESPONSIVE */
@media screen and (max-width: 75rem) {
  .grid-two-col {
    margin: 4rem 2rem 0;
  }
}

@media screen and (max-width: 62.5rem) {
  .grid-two-col {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
  }

  .related-videos {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .comments {
    grid-row: 3 / 4;
  }
}